
backend/.metadata/.lock
backend/.metadata/.log
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
backend/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
backend/.metadata/.plugins/org.eclipse.core.resources/0.snap
backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
backend/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
backend/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
backend/.metadata/.plugins/org.eclipse.m2e.logback/0.log
backend/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.0.20240217-1525.xml
backend/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
backend/.metadata/version.ini
